@charset "utf-8";


@font-face {
   font-family: Speeder;
   src: url(maxi_l_s.woff) format('woff'), 
        url(maxi_l_s.ttf) format('truetype');
}
/*
   Practical 6B
   Filename:         rm_styles.css

*/


/* HTML and Body styles */

html {
        background-image:url(rm_back.png);
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        font-family: Verdana, Geneva, sans-serif;
        height: 100%;
}

body {
   background-color: rgb(250, 152, 41);
   box-shadow: rgb(255, 145, 1) 10px 0px 40px, rgb(255, 145, 1) -10px 0px 40px;
   border-left: 1px solid rgb(255, 0, 0);
   border-right: 1px solid rgb(255, 0, 0);
   min-height: 100%;   
   margin: 0px auto;
   min-width: 320px;
   max-width: 1024px;   
   width: 100%;
}


/* Header styles */

header {
   background: linear-gradient(to right, rgb(133, 131, 31) 20%, rgb(248, 91, 0));
   border-bottom: 1px solid rgb(255, 0, 0);
}

header img#logoimg {
   display: block;
   margin: 0px auto;
   width: 100%;
}

/* Navigation list styles */

header nav ul {
   background: linear-gradient(to right, rgb(248, 0, 0) 20%, rgb(255, 94, 0)); 
   width: 100%;
}

header nav ul li {
   font-size: 1em;   
}

header nav ul li a {
   color: white;
   text-shadow: rgb(51, 51, 51) 0px 0px 1px, rgb(51, 51, 51) 0px 0px 8px;
   display: block;
   padding: 5px 20px;
   width: 100%;
}

header nav ul li a:hover {
   color: white;
   background-color: rgb(110, 126, 18);
}

a#navicon {
   display: none;
}

/* Article Styles */

article {
   margin: 40px auto;
   width: 85%;
}

article h1 {
   color: rgb(158, 8, 8);
   text-shadow: rgb(255, 240, 36) -2px 0px 0px, rgb(158, 96, 3) -14px 0px 8px;
   font-family: Speeder;
   font-weight: normal;
   font-size: 1.5em;
   font-style: oblique;
   letter-spacing: 0.03em;
   line-height: 1.2em;
   margin-bottom: 20px;
}

article p {
   line-height: 1.5;
   margin-bottom: 30px;
}

p
{
   text-align: center;
}


/* Footer styles */   

footer {
   color: white;    
   background: linear-gradient(to bottom, rgb(252, 71, 0), black);
   font-size: 0.9em;  
   font-style: normal;
}

footer nav ul {
   float: left;
   padding: 30px;
   width: 25%;
}

footer nav ul a {
   color: white;
}

footer nav ul a:hover {
   text-decoration: underline;
}

footer img.clipart {
   float: left;
   display: block;
   width: 25%;
   position: relative;
   top: -60px;
   left: -20px
}

footer::after {
   display: table;
   content: "";
   clear: both;
}

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
@media only screen and (max-width: 640px) {

   
   a#navicon {
      display: block;
   }
   
   header nav {
      padding-bottom: 15px;
   }
   
   header nav ul {
      display: none;
   }
   
   header nav ul li {
      font-size: 1em;
      line-height: 1.3em;
      height: 1.3em;
   }
   
   a#navicon:hover+ul, header nav ul:hover {
      display: block;
   }
   
   header img#logoimg {
      width: 100%;
   }
}

/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
@media only screen and (min-width: 641px) {

   
   
   header nav ul {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: center;
      justify-content: center;
   }
   
   header nav ul li {
      -webkit-flex: 0 1 auto;
      flex: 0 1 auto;
   }
}
